{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "node": true,
    "unicorn/filename-case": "off",
    "lines-between-class-members": "off",
    "no-return-await": "off",
    "no-useless-constructor": "off",
    "prefer-rest-params": "off",
    "no-process-exit": "off",
    "unicorn/no-process-exit": "off"
  }
}
