{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "node": true,
    "unicorn/filename-case": "off",
    "lines-between-class-members": "off",
    "no-return-await": "off"
  }
}
